In [2]:
import pandas as pd

In [2]:
df = pd.read_excel('../카드이용내역/거래내역_통합_ver1.4.xlsx')

C:\Users\nst42\AppData\Local\Temp\ipykernel_29232\718421545.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  df = pd.read_excel('../카드이용내역/거래내역_통합_ver1.4.xlsx')

In [4]:
df['승인일자'] = pd.to_datetime(df['승인일자'])

In [6]:
df['승인시각'] = df['승인시각'].astype('str').str.slice(0,5)

In [7]:
df.to_excel('../카드이용내역/거래내역_통합_ver1.5.xlsx')

In [9]:
df = pd.read_excel('../카드이용내역/거래내역_통합_ver1.5.xlsx')

In [10]:
df

           승인일자   승인시각          가맹점명   이용금액 사용자  주문/방문  정기결제  학원시간        분류
0    2023-03-22  08:55   지에스25 S서면역점   1980   d      1     0     1    편의점/마트
1    2023-03-21  11:17         간지사진관  30000   b      1     0     0        생활
2    2023-03-21  13:21    스타벅스_사이렌오더   4060   e      1     0     1        카페
3    2023-03-21  16:50  전국고속버스운송사업조합  41700   b      0     0     0  자동차/기타교통
4    2023-03-20  08:56   지에스25 S서면역점   1800   d      1     0     1    편의점/마트
...         ...    ...           ...    ...  ..    ...   ...   ...       ...
2236 2022-04-01  13:31            와코   6900   e      1     0     1        식비
2237 2022-04-01  15:38        대연류피부과   7100   e      1     0     1        의료
2238 2022-04-01  15:42          정성약국  15000   e      1     0     1        의료
2239 2022-04-01  15:44        텐퍼센트커피   2000   e      1     0     1        카페
2240 2022-04-01  22:00        희망할인마트  14380   a      1     0     0    편의점/마트

[2241 rows x 9 columns]

In [12]:
df['승인시각'][df['승인시각']>='15:00']

3       16:50
5       16:25
6       15:16
9       20:39
12      17:21
        ...
2232    22:54
2237    15:38
2238    15:42
2239    15:44
2240    22:00
Name: 승인시각, Length: 845, dtype: object

In [44]:
def convert_time(x):
    if (x >= '06:00') & (x <'07:00'):
        return 6
    elif (x >= '07:00') & (x <'08:00'):
        return 7
    elif (x >= '08:00') & (x <'09:00'):
        return 8
    elif (x >= '09:00') & (x <'10:00'):
        return 9
    elif (x >= '10:00') & (x <'11:00'):
        return 10
    elif (x >= '11:00') & (x <'12:00'):
        return 11
    elif (x >= '12:00') & (x <'13:00'):
        return 12
    elif (x >= '13:00') & (x <'14:00'):
        return 13
    elif (x >= '14:00') & (x <'15:00'):
        return 14
    elif (x >= '15:00') & (x <'16:00'):
        return 15
    elif (x >= '16:00') & (x <'17:00'):
        return 16
    elif (x >= '17:00') & (x <'18:00'):
        return 17
    elif (x >= '18:00') & (x <'19:00'):
        return 18
    elif (x >= '19:00') & (x <'20:00'):
        return 19
    elif (x >= '20:00') & (x <'21:00'):
        return 20
    elif (x >= '21:00') & (x <'22:00'):
        return 21
    elif (x >= '22:00') & (x <'23:00'):
        return 22
    elif (x >= '23:00') & (x <'24:00'):
        return 23
    elif (x >= '00:00') & (x <'01:00'):
        return 24
    elif (x >= '01:00') & (x <'02:00'):
        return 25
    else:
        return 26

In [18]:
df['시간코드'] = df['승인시각'].apply(convert_time)

In [20]:
df['시간코드'].value_counts()

13    401
12    260
17    216
8     201
18    159
14    135
24    125
15    103
9      99
11     94
20     87
19     83
10     81
16     65
21     61
22     49
23     22
Name: 시간코드, dtype: int64

In [22]:
df.to_excel('../카드이용내역/거래내역_통합_ver1.6.xlsx')

In [28]:
df = pd.read_excel('../카드이용내역/거래내역_통합_ver1.6.xlsx')

In [33]:
df

,승인일자,승인일자(월),승인시각,시간코드,가맹점명,이용금액,사용자,주문/방문,정기결제,학원시간,분류
0,2023-03-22,2023-03-22,08:55,8,지에스25 S서면역점,1980,d,1,0,1,편의점/마트
1,2023-03-21,2023-03-21,11:17,11,간지사진관,30000,b,1,0,0,생활
2,2023-03-21,2023-03-21,13:21,13,스타벅스_사이렌오더,4060,e,1,0,1,카페
3,2023-03-21,2023-03-21,16:50,16,전국고속버스운송사업조합,41700,b,0,0,0,자동차/기타교통
4,2023-03-20,2023-03-20,08:56,8,지에스25 S서면역점,1800,d,1,0,1,편의점/마트
...,...,...,...,...,...,...,...,...,...,...,...
2236,2022-04-01,2022-04-01,13:31,13,와코,6900,e,1,0,1,식비
2237,2022-04-01,2022-04-01,15:38,15,대연류피부과,7100,e,1,0,1,의료
2238,2022-04-01,2022-04-01,15:42,15,정성약국,15000,e,1,0,1,의료
2239,2022-04-01,2022-04-01,15:44,15,텐퍼센트커피,2000,e,1,0,1,카페
2240,2022-04-01,2022-04-01,22:00,22,희망할인마트,14380,a,1,0,0,편의점/마트

In [31]:
df['시간코드'] = df['승인시각'].apply(convert_time)

In [34]:
df['시간코드'].value_counts()

13    401
12    260
17    216
8     201
18    159
14    135
24    125
15    103
9      99
11     94
20     87
19     83
10     81
16     65
21     61
22     49
23     22
Name: 시간코드, dtype: int64

In [25]:
df['요일'] = df['승인일자'].dt.weekday

In [27]:
df.to_excel('../카드이용내역/거래내역_통합_ver1.7.xlsx', index=False)

In [35]:
df = pd.read_excel('../카드이용내역/거래내역_통합_ver1.7.xlsx')

In [36]:
df

,승인일자,승인일자(월),승인시각,시간코드,요일,가맹점명,이용금액,사용자,주문/방문,정기결제,학원시간,분류
0,2023-03-22,2023-03-22,08:55,8,2,지에스25 S서면역점,1980,d,1,0,1,편의점/마트
1,2023-03-21,2023-03-21,11:17,11,1,간지사진관,30000,b,1,0,0,생활
2,2023-03-21,2023-03-21,13:21,13,1,스타벅스_사이렌오더,4060,e,1,0,1,카페
3,2023-03-21,2023-03-21,16:50,16,1,전국고속버스운송사업조합,41700,b,0,0,0,자동차/기타교통
4,2023-03-20,2023-03-20,08:56,8,0,지에스25 S서면역점,1800,d,1,0,1,편의점/마트
...,...,...,...,...,...,...,...,...,...,...,...,...
2236,2022-04-01,2022-04-01,13:31,13,4,와코,6900,e,1,0,1,식비
2237,2022-04-01,2022-04-01,15:38,15,4,대연류피부과,7100,e,1,0,1,의료
2238,2022-04-01,2022-04-01,15:42,15,4,정성약국,15000,e,1,0,1,의료
2239,2022-04-01,2022-04-01,15:44,15,4,텐퍼센트커피,2000,e,1,0,1,카페
2240,2022-04-01,2022-04-01,22:00,22,4,희망할인마트,14380,a,1,0,0,편의점/마트

In [37]:
df['시간코드'] = df['승인시각'].apply(convert_time)

In [40]:
df = df.drop('시간코드', axis=1)

In [45]:
df['시간코드'] = df['승인시각'].apply(convert_time)

In [46]:
df['시간코드'].value_counts()

13    401
12    260
17    216
8     201
18    159
14    135
15    103
9      99
11     94
20     87
19     83
10     81
16     65
21     61
26     50
22     49
6      27
23     22
25     21
24     18
7       9
Name: 시간코드, dtype: int64

In [47]:
df.to_excel('../카드이용내역/거래내역_통합_ver1.8.xlsx', index=False)

In [3]:
df = pd.read_excel('../카드이용내역/거래내역_통합_ver1.8.xlsx')

In [4]:
df

,승인일자,승인시각,시간코드,요일,가맹점명,이용금액,사용자,주문/방문,정기결제,학원시간,분류
0,2023-03-22,08:55,8,2,지에스25 S서면역점,1980,d,1,0,1,편의점/마트
1,2023-03-21,11:17,11,1,간지사진관,30000,b,1,0,0,생활
2,2023-03-21,13:21,13,1,스타벅스_사이렌오더,4060,e,1,0,1,카페
3,2023-03-21,16:50,16,1,전국고속버스운송사업조합,41700,b,0,0,0,자동차/기타교통
4,2023-03-20,08:56,8,0,지에스25 S서면역점,1800,d,1,0,1,편의점/마트
...,...,...,...,...,...,...,...,...,...,...,...
2236,2022-04-01,13:31,13,4,와코,6900,e,1,0,1,식비
2237,2022-04-01,15:38,15,4,대연류피부과,7100,e,1,0,1,의료
2238,2022-04-01,15:42,15,4,정성약국,15000,e,1,0,1,의료
2239,2022-04-01,15:44,15,4,텐퍼센트커피,2000,e,1,0,1,카페
2240,2022-04-01,22:00,22,4,희망할인마트,14380,a,1,0,0,편의점/마트

In [6]:
def convert_time(x):
    if (x >= '06:00') & (x <'07:00'):
        return '06:00'
    elif (x >= '07:00') & (x <'08:00'):
        return '07:00'
    elif (x >= '08:00') & (x <'09:00'):
        return '08:00'
    elif (x >= '09:00') & (x <'10:00'):
        return '09:00'
    elif (x >= '10:00') & (x <'11:00'):
        return '10:00'
    elif (x >= '11:00') & (x <'12:00'):
        return '11:00'
    elif (x >= '12:00') & (x <'13:00'):
        return '12:00'
    elif (x >= '13:00') & (x <'14:00'):
        return '13:00'
    elif (x >= '14:00') & (x <'15:00'):
        return '14:00'
    elif (x >= '15:00') & (x <'16:00'):
        return '15:00'
    elif (x >= '16:00') & (x <'17:00'):
        return '16:00'
    elif (x >= '17:00') & (x <'18:00'):
        return '17:00'
    elif (x >= '18:00') & (x <'19:00'):
        return '18:00'
    elif (x >= '19:00') & (x <'20:00'):
        return '19:00'
    elif (x >= '20:00') & (x <'21:00'):
        return '20:00'
    elif (x >= '21:00') & (x <'22:00'):
        return '21:00'
    elif (x >= '22:00') & (x <'23:00'):
        return '22:00'
    elif (x >= '23:00') & (x <'24:00'):
        return '23:00'
    elif (x >= '00:00') & (x <'01:00'):
        return '24:00'
    elif (x >= '01:00') & (x <'02:00'):
        return '25:00'
    else:
        return '기타'

In [7]:
df['시간코드'] = df['승인시각'].apply(convert_time)

In [8]:
df

,승인일자,승인시각,시간코드,요일,가맹점명,이용금액,사용자,주문/방문,정기결제,학원시간,분류
0,2023-03-22,08:55,08:00,2,지에스25 S서면역점,1980,d,1,0,1,편의점/마트
1,2023-03-21,11:17,11:00,1,간지사진관,30000,b,1,0,0,생활
2,2023-03-21,13:21,13:00,1,스타벅스_사이렌오더,4060,e,1,0,1,카페
3,2023-03-21,16:50,16:00,1,전국고속버스운송사업조합,41700,b,0,0,0,자동차/기타교통
4,2023-03-20,08:56,08:00,0,지에스25 S서면역점,1800,d,1,0,1,편의점/마트
...,...,...,...,...,...,...,...,...,...,...,...
2236,2022-04-01,13:31,13:00,4,와코,6900,e,1,0,1,식비
2237,2022-04-01,15:38,15:00,4,대연류피부과,7100,e,1,0,1,의료
2238,2022-04-01,15:42,15:00,4,정성약국,15000,e,1,0,1,의료
2239,2022-04-01,15:44,15:00,4,텐퍼센트커피,2000,e,1,0,1,카페
2240,2022-04-01,22:00,22:00,4,희망할인마트,14380,a,1,0,0,편의점/마트

In [9]:
def convert_day(x):
    if x == 0:
        return 'Mon'
    elif x == 1:
        return 'Tue'
    elif x == 2:
        return 'Wed'
    elif x == 3:
        return 'Thu'
    elif x == 4:
        return 'Fri'
    elif x == 5:
        return 'Sat'
    else:
        return 'Sun'

In [10]:
df['요일'] = df['요일'].apply(convert_day)

In [11]:
df

,승인일자,승인시각,시간코드,요일,가맹점명,이용금액,사용자,주문/방문,정기결제,학원시간,분류
0,2023-03-22,08:55,08:00,Wed,지에스25 S서면역점,1980,d,1,0,1,편의점/마트
1,2023-03-21,11:17,11:00,Tue,간지사진관,30000,b,1,0,0,생활
2,2023-03-21,13:21,13:00,Tue,스타벅스_사이렌오더,4060,e,1,0,1,카페
3,2023-03-21,16:50,16:00,Tue,전국고속버스운송사업조합,41700,b,0,0,0,자동차/기타교통
4,2023-03-20,08:56,08:00,Mon,지에스25 S서면역점,1800,d,1,0,1,편의점/마트
...,...,...,...,...,...,...,...,...,...,...,...
2236,2022-04-01,13:31,13:00,Fri,와코,6900,e,1,0,1,식비
2237,2022-04-01,15:38,15:00,Fri,대연류피부과,7100,e,1,0,1,의료
2238,2022-04-01,15:42,15:00,Fri,정성약국,15000,e,1,0,1,의료
2239,2022-04-01,15:44,15:00,Fri,텐퍼센트커피,2000,e,1,0,1,카페
2240,2022-04-01,22:00,22:00,Fri,희망할인마트,14380,a,1,0,0,편의점/마트

In [12]:
def convert(x):
    if x == 1:
        return '방문'
    elif x == 0:
        return '주문'

In [13]:
df['주문/방문'] = df['주문/방문'].apply(convert)

In [14]:
def convert(x):
    if x == 0:
        return '일반'
    elif x == 1:
        return '정기'

In [15]:
df['정기결제'] = df['정기결제'].apply(convert)

In [16]:
def convert(x):
    if x == 0:
        return '학원시간 외'
    elif x == 1:
        return '학원시간 내'
    else:
        return '공휴일'

In [17]:
df['학원시간'] = df['학원시간'].apply(convert)

In [19]:
df.to_excel('../카드이용내역/거래내역_통합_ver1.9.xlsx')

In [20]:
df['승인일자_월'] = df['승인일자'].astype('str').str.slice(0,7)

In [23]:
df.to_excel('../카드이용내역/거래내역_통합_ver2.0.xlsx', index=False)

In [24]:
df = pd.read_excel('../카드이용내역/거래내역_통합_ver2.0.xlsx')

In [25]:
df

,승인일자,승인시각,시간코드,요일,가맹점명,이용금액,사용자,주문/방문,정기결제,학원시간,분류,승인일자_월
0,2023-03-23,12:55,12:00,Thu,우정분식,9500,e,방문,일반,학원시간 내,식비,2023-03
1,2023-03-23,13:27,13:00,Thu,텐퍼센트서면도서관점,4000,e,방문,일반,학원시간 내,카페,2023-03
2,2023-03-22,08:55,08:00,Wed,씨유(CU) M부산서면환승역점,600,e,방문,일반,학원시간 내,편의점/마트,2023-03
3,2023-03-22,08:55,08:00,Wed,지에스(GS)25 서면역점,1980,d,방문,일반,학원시간 내,편의점/마트,2023-03
4,2023-03-22,12:58,12:00,Wed,KFC부산서면점,7800,e,방문,일반,학원시간 내,식비,2023-03
...,...,...,...,...,...,...,...,...,...,...,...,...
2236,2022-04-01,15:42,15:00,Fri,정성약국,15000,e,방문,일반,학원시간 내,의료,2022-04
2237,2022-04-01,15:44,15:00,Fri,텐퍼센트서면도서관점,2000,e,방문,일반,학원시간 내,카페,2022-04
2238,2022-04-01,16:10,16:00,Fri,롯데슈퍼대연점,5760,e,방문,일반,학원시간 내,편의점/마트,2022-04
2239,2022-04-01,18:39,18:00,Fri,주식회사엘에스마트,3200,e,방문,일반,학원시간 외,편의점/마트,2022-04
2240,2022-04-01,22:00,22:00,Fri,희망할인마트,14380,a,방문,일반,학원시간 외,편의점/마트,2022-04

In [30]:
df['이용금액'][(df['승인일자']<'2022-09-21')&(df['분류']=='식비')]

1406    24000
1409    43500
1416    16000
1434    15580
1437     8500
        ...
2203     8000
2207     7000
2218     9000
2224    10800
2234     6900
Name: 이용금액, Length: 166, dtype: int64